*{

	margin:0;
	
	padding: 0;
}



section{

      background-repeat:no-repeat;
      background-size:cover;
      background-attachment:fixed;
      height:1100px;
      margin:0 auto;
       overflow: hidden;
      padding:0;
      position:relative;
   width:100% !important; 

}
 

 
#bloque3{
	background-image: url("img/sol.jpg")
}
 
#bloque3 h1{
	background-color: #02223a;
	bottom:0;
	display: block;
	color:#fff;
	font-size: 5em;
	font-weight: bold;
	margin-top: 5em;
	opacity:0.85;
	text-shadow: 1px 1px 1px #ccc;
	text-align: center;
	text-transform: uppercase;
}
#bloque3 h2{
	color:#fff;
	font-size: 5em;
	font-weight: bold;
	margin-top: 5em;
	opacity:0.85;
	text-shadow: 1px 1px 1px #ccc;
	text-align: center;
	text-transform: uppercase;
}

#bloque3 h3{
	color:#fff;
	font-size: 2em;
	font-weight: bold;
	margin-top: 2em;
	opacity:0.85;
	text-shadow: 1px 1px 1px #ccc;
	text-align: center;
	text-transform: uppercase;
}
#bloque3 p{

	color:#fff;
	 font-style:italic ;
	font-size: 2em;
	font-weight: bold;
	 
	opacity:0.85;
	text-shadow: 1px 1px 1px #ccc;
	text-align: center;
	text-transform: uppercase;
	background-color: #02223a;
}

#titulo1{
 margin-top: 2em;
}

#titulo3{
 margin-top: 8em;
}

#titulo2{
 margin-top: 5em;
}

#bloque3 li{

	color:#fff;
	 font-style:italic ;
	font-size: 2em;
	font-weight: bold;
	margin-top: 2em;
	opacity:0.85;
	text-shadow: 1px 1px 1px #ccc;
	text-align: center;
	text-transform: uppercase;	
 }
div{ 
	padding-left: : 50% !important; 

	padding-right: : 50% !important; 

 
}
.container{
	 
}
  
  .logoEmpresa{
 	height:6em;
 	width: 8em;
 }
 .img-responsive{
 	  	width:100% !important;
         
 }
 .carruselpadding{
 	padding:0;
 }
 .table-bordered>tbody>tr>th:nth-child(1){
    border-top:0px !important;
    border-bottom:0px !important;

}
 .table-bordered>tbody>tr>th:nth-child(2){
   
    border-top:0px !important;
    border-bottom:0px !important;
}
.table-bordered>thead>tr>th:nth-child(1){
    border-top:0px !important;
    border-bottom:0px !important;

}
.table-bordered>thead>tr>th:nth-child(2){
    border-top:0px !important;
    border-bottom:0px !important;

}
#carousel_1 ol{

	margin-right: 10em  !important;
}
